{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common/layout1.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-3.3.7-dist/css/bootstrap.css' %}" />
  </head>
  <body>
    <div class="layout">
      <div id="main">
        <p>▼Today</p>
        <form action="cgi-bin/abc.cgi" method="post">
          <p>
            <input type="checkbox" name="riyu" value="1" checked="checked">面白い
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
